
registryDomain: registry-cn-hangzhou.ack.aliyuncs.com
image: acs/web-demo
tag: 0.5.0

envCluster: cluster-oneregion

clusterId: ""

isNodePort: false

global:
  nodeSelector: {}

  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/master
      operator: Exists
